{% load static from static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Articles</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<style>
		nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
nav li{
	display: inline-block;
	position: relative;
	right: 30px;
}
nav ul li .button{
	position: relative;
	background: none;
	color: #fff;
	cursor: pointer;
	top:40px;
	right: 40px;
	position: relative;
	border: 0;
	font-size: 1.2em;
}
</style>
</head>
<body>
	<div class="" style="background-color: white; color: black;border-radius: 10px">
		<header style="background-image: linear-gradient(to right,#174e89, #23869a, #208892)">
			<h1><a href="{% url 'home' %}">Content Management System</a></h1>
			<nav>
				{% if user.is_authenticated %}
				<ul>
					<li>
						<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
							{% csrf_token %}

							<button type="submit">Logout</button>
						</form>
					</li>
					<li><a href="{% url 'articles:create' %}" class="highlight"> Create New Article</a></li>
				
					{% else %}
						<li><a href="{% url 'accounts:login' %}" class="button">Login</a></li>
						<li><a href="{% url 'accounts:signup' %}" class="button">Sign Up</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>